# Ignorar arquivos do macOS
.DS_Store

# Ignorar diretórios e arquivos de compilação do Maven
/target/
*.class

# Ignorar logs, dependências e outros arquivos de ambiente (opcional, mas recomendado)
 .idea/
*.log